@keyframes pulsate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    transform: scale(1.15, 1.15);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.about__title {
  margin: 100px 0 0 80px;
  max-width: 251px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  z-index: 1;
}

.about__content {
  margin: 119px 80px 173px 0;
  max-width: 660px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about__paragraph {
  font-family: "noto serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.about__circle {
  position: absolute;
  width: 426px;
  height: 426px;
  border-radius: 100%;
  background-color: #2f80ed;
  left: -129px;
  top: -152px;
}

.about__circle_animation_blurred {
  animation: pulsate 1.3s ease-in-out infinite;
}
