.form {
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
}

.form__label {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 8px;
}

.form__button {
  border-radius: 4px;
  background: #2f80ed;
  color: #fff;
  border: none;
  display: block;
  width: 100%;
  padding: 0;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  margin-bottom: 32px;
  padding: 0 0 0 12px;
  box-sizing: border-box;
}

.form__button {
  height: 60px;
  max-width: 385px;
  margin: 0 0 32px;
  opacity: 100%;
}

.form__button:hover {
  opacity: 70%;
  transition: opacity 0.1s linear;
}

.form__checkbox {
  padding-bottom: 120px;
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__fieldset_terms {
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

.form__label_terms {
  margin-bottom: 0;
}
