.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 80px;
  position: relative;
  box-sizing: border-box;
  background-image: url(../images/background_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.header__title {
  margin: 202px 0 0;
  max-width: 729px;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
}

.header__span-accent {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  color: #2f80ed;
  display: block;
}

.header__description {
  margin: 28px 0 0;
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  height: 568px;
  width: 646px;
  top: 124px;
  right: 5px;
  z-index: -1;
}

.header__footer {
  display: flex;
  align-items: flex-end;
  padding: 0 0 40px;
  justify-content: space-between;
  font-weight: 500;
  color: #838383;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  padding: 0;
}
